.center {
  text-align: center;
}
.game-area {
  position: relative;
  height: 450px;
  width: 450px;
  margin: 20px auto;
  border: 1px solid white;
}
.snake-dots {
  position: absolute;
  background-color: wheat;
  height: 2%;
  width: 2%;
  border: 1px solid #282c34;
  z-index: 2;
}
.food-dot {
  position: absolute;
  background-color: rgb(241, 125, 241);
  height: 2%;
  width: 2%;
  border: 1px solid #282c34;
  z-index: 1;
}
.result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}
h2 {
  margin: 0px;
  padding: 0px;
  width: 200px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .game-area {
    height: 330px;
    width: 330px;
  }
}
